<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="eSecurityConnectString" value="server=MYS-KONGY\SQL2005;Database=eSecurity;uid=sa;pwd=95938"></add>
        <add key="eSecurityAppID" value="1"></add>
        <add key="eSecurityAppName" value="Payroll"></add>
    </appSettings>

  <system.web>


    <compilation 
         defaultLanguage="c#"
         debug="true"
    />


    <customErrors 
    mode="RemoteOnly" 
    /> 

    <authentication mode="Forms">
        <forms name="AppTest" loginUrl="Login.aspx" />
    </authentication> 



    <authorization>
        <deny users="?" />
    </authorization>

    <trace
        enabled="false"
        requestLimit="10"
        pageOutput="false"
        traceMode="SortByTime"
		localOnly="true"
    />


    <sessionState 
            mode="InProc"
            stateConnectionString="tcpip=127.0.0.1:42424"
            sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes"
            cookieless="false" 
            timeout="20" 
    />


    <globalization 
            requestEncoding="utf-8" 
            responseEncoding="utf-8" 
   />
   
 </system.web>
 
   <location path="AppLogin.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>

</configuration>
