<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>

		<!--
		Generating group memberships requires READING the MIIS metaverse. This
		is the connection string to be used. The account needs to be in the db_datareader
		role in the MIIS database.
		-->
		<add key="miisConnectionString" value="Initial Catalog=MicrosoftIdentityIntegrationServer;Data Source=localhost;Integrated Security=SSPI;"/>

		<!--
		This is the connection string to be used for the group populator database. The account
		running the service needs to be db_datareader and db_datawriter.
		-->
		<add key="miisGroupMgmtConnectionString" value="Initial Catalog=miisGroupManagement;Data Source=localhost;Integrated Security=SSPI;"/>
		
		<!--
		This is the connection timeout in seconds to be used for the database connections.
		-->
		<add key="sqlCommandTimeout" value="90"/>

		<!--
		These are the names of the SQL tables within the group management database.
		-->
		<add key="groupDefinitionsTable" value="groupDefinitions"/>
		<add key="groupDefinitions_deltaTable" value="groupDefinitions_delta"/>
		<add key="exceptionDefinitionsTable" value="exceptionDefinitions"/>
		<add key="clauseDefinitionsTable" value="clauseDefinitions"/>
		<add key="memberDefinitionsTable" value="memberDefinitions"/>
		<add key="memberDefinitions_tempTable" value="memberDefinitions_temp"/>
		<add key="stagingDefinitionsTable" value="stagingDefinitions"/>
		<add key="attributeGroupDefinitionsTable" value="attributeGroupDefinitions"/>

		<!--
		This configuration section will assist in the settings that wil send notification to
		the users as they are added are removed from groups
		-->
		<add key="notificationEnabled" value="true"/>
		<add key="notificationAttribute" value="mail"/>
		<add key="notificationQueue" value=".\private$\miisGroupManagement"/>

	</appSettings>
</configuration>
