<?xml version="1.0" encoding="utf-8" ?>
<sites>
	<site siteid="1" securitylevel=""  publickey="" publicandprivatekey="" fromurlkey="" cryptkeyfield="" ivkeyfield="">
	</site>
	<site siteid="2" securitylevel=""  publickey="" publicandprivatekey="" fromurlkey="" cryptkeyfield="" ivkeyfield="">
	</site>
</sites>