<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="DataSettings" type="Mysoft.Map.Common.DataAccess.DataSettings, Mysoft.Map.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
		<section name="SystemSetting" type="Mysoft.Map.Core.Configuration.SystemSettings, Mysoft.Map.Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
	</configSections>

	<DataSettings>
		<Connections>
			<add server="10.5.22.156" database="ERP30_SLXT" userid="sa" pwd="95938"
			  name="Slxt" />
			<add server="10.5.22.156" database="ERP30_METADATA" userid="sa" pwd="95938"
			  name="Metadata" />
			<add server="10.5.22.156" database="ERP30_MASTER" userid="sa" pwd="95938"
			  name="Master" />
		</Connections>
	</DataSettings>

	<SystemSetting sysname="123">
		<SettingItems>
			<add name="FuncSvcDir" value="bin\\"></add>
		</SettingItems>
	</SystemSetting>
</configuration>