<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="logConfiguration"
		 type="Mysoft.Map.Common.Logging.Configuration.LogConfiguration, Mysoft.Map.Common"/>
	</configSections>
	<logConfiguration defaultCategory="Default" tracingEnabled="true">
		<filters>
			<logEnableFilter name = "Log Enable Filter" enabled = "true"/>
			<categoryFilter name = "Category Filter" categoryFilterMode = "AllowAllExceptDenied" category = "UI Event" />
		</filters>
		<formatters>
			<textFormatters>
				<add name="Default Database Formatter" template="insert into CommonLog(ClGUID,Message,LogTime) 
					 values(newid(),'{Message}',cast('{TimeStamp}' as datetime))"/>
				<add name="UserMonitor Database Formatter" template="insert into UserMonitorLog(UmlGUID,VisitMessage,UserGUID,MonitorType,SystemID,ModelID,LogTime) 
					 values(newid(),'{Message}','{UserGUID}','[MonitorType]','{SystemID}','{ModelID}',cast('{TimeStamp}' as datetime))"/>
				<add name="Exception Database Formatter" template="insert into ExceptionLog(ElGUID,ExceptionMessage,HandlingExceptionGUID,Method,Stack,Context,LogTime)
					 values(newid(),'{Message}','[HandlingExceptionGUID]','[Method]','[Stack]','[Context]',cast('{TimeStamp}' as datetime))"/>
				<add name="CapabilityMonitor Database Formatter" template="insert into CapabilityMonitorLog(CmlGUID,CapabilityMonitorMessage,LogTime,MachineName,AppDomainName,ProcessId,ProcessName,ManagedThreadName,Win32ThreadId)
					 values(newid(),'{Message}',cast('{TimeStamp}' as datetime),'[MachineName]','[AppDomainName]','[ProcessId]','[ProcessName]','[ManagedThreadName]','[Win32ThreadId]')"/>
			</textFormatters>
		</formatters>
		<listeners>
			<databaseListeners>
				<add name="Default Database Listener" dbConnectionType="MetadataDB" mapDbType="SqlServer2005" formatter="Default Database Formatter"/>
				<add name="UserMonitor Database Listener" dbConnectionType="MetadataDB" mapDbType="SqlServer2005" formatter="UserMonitor Database Formatter"/>
				<add name="Exception Database Listener" dbConnectionType="MetadataDB" mapDbType="SqlServer2005" formatter="Exception Database Formatter"/>
				<add name="CapabilityMonitor Database Listener" dbConnectionType="MetadataDB" mapDbType="SqlServer2005" formatter="CapabilityMonitor Database Formatter"/>
			</databaseListeners>
		</listeners>
		<categories>
			<add name="Default" >
				<databaseListeners>
					<add name="Default Database Listener"/>
				</databaseListeners>
			</add>
			<add name="UserMonitor" >
				<databaseListeners>
					<add name="UserMonitor Database Listener"/>
				</databaseListeners>
			</add>
			<add name="Exception" >
				<databaseListeners>
					<add name="Exception Database Listener"/>
				</databaseListeners>
			</add>
			<add name="CapabilityMonitor" >
				<databaseListeners>
					<add name="CapabilityMonitor Database Listener"/>
				</databaseListeners>
			</add>
		</categories>
	</logConfiguration>
</configuration>
