<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="ssoConfiguration" type="Mysoft.Map.Application.SSO.Configuration.SSOConfiguration, Mysoft.Map.Application" />
	</configSections>
	<ssoConfiguration>
		<sites>
			<add name="Client1" loginUrl="http://10.5.22.104:12001/SSOLogin.aspx" />
			<add name="Client2" loginUrl="http://10.5.22.104:12002/SSOLogin.aspx" />
		</sites>
	</ssoConfiguration>
</configuration>